@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400&family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 5vmin;
  margin: 5vmin 0;
  text-align: center;
}

.title{
  height: 8vmin;
  overflow: scroll;
}

h2 {
  font-family: "IBM Plex Serif", serif;
  font-size: 3vmin;
}

.desc{
  height: 14vmin;
  overflow: scroll;
}

.desc::-webkit-scrollbar, .title::-webkit-scrollbar{
  display: none;
}

p {
  margin: 2rem 0;
  color: rgba(21, 19, 60, 0.5);
  font-weight: 400;
  font-size: 1.6rem;
  display: inline-block;
}

.imageBox{
  width: auto;
  height: 30vmin;
  margin: 3vmin 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.postImg{
  width: 100%;
}

span {
  text-transform: capitalize;
  font-weight: bold;
}

.stories-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.card {
  width: 30vw;
  padding: 30px;
  box-shadow: gray 0 2px 5px;
  border-radius: 10px;
  color: #15133c;
}

.card-button {
  flex-direction: row;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-button a {
  color: #92b4ec;
  font-weight: 400;
  font-size: 1.6rem;
}

.card-button a:last-child {
  color: red;
}

form {
  display: grid;
  place-items: center;
}

input {
  padding: 1rem;
  min-width: 40rem;
  font-size: 2rem;
  text-transform: capitalize;
  border: none;
  border-bottom: 0.2rem solid #15133c;
  outline: none;
  margin-bottom: 3vmin;
}




@media (max-width: 850px){
  h1 {
    font-size: 27px;
  }

  input {
    padding: 7px;
    min-width: 50vw;
    font-size: 1.3rem;
    text-transform: capitalize;
    border: none;
    border-bottom: 0.2rem solid #15133c;
    outline: none;
    margin-bottom: 6vmin;
  }

  .stories-div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .card{
    width: 90%;
  }

  .title{
    height: fit-content;
  }

  .title h2{
    font-size: 22px;
  }
}